<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="common/header :: common-header"></head>
<body>
    <div th:replace="common/header :: navbar"></div>

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="Account">Account</li>
            </ol>
        </nav>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a th:classappend="${classActiveNewAccount}? 'active'" class="nav-link" id="pills-home-tab" data-toggle="pill" href="#new-account" role="tab" aria-controls="pills-home" aria-selected="true">New Account</a>
            </li>
            <li class="nav-item">
                <a th:classappend="${classActiveLogin}? 'active'" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#login" role="tab" aria-controls="pills-profile" aria-selected="false">Login</a>
            </li>
            <li class="nav-item">
                <a th:classappend="${classActiveForgetPassword}? 'active'" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#forget-password" role="tab" aria-controls="pills-contact" aria-selected="false">Forget Password</a>
            </li>
        </ul>
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div th:classappend="${classActiveNewAccount}? 'show active'" class="tab-pane fade" id="new-account" role="tabpanel" aria-labelledby="new-account-tab">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="userNameHelp" placeholder="User Name">
                                <small id="emailHelp" class="form-text text-muted">Enter your username here.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp1" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-success">Create new account</button>
                        </form>
                    </div>
                    <div th:classappend="${classActiveLogin}? 'show active'" class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                    </div>
                    <div th:classappend="${classActiveForgetPassword}? 'show active'" class="tab-pane fade" id="forget-password" role="tabpanel" aria-labelledby="forget-password-tab">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp3" class="form-text text-muted">Enter your registered email address here.</small>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/header :: scripts"></div>
</body>
</html>